{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main>
        <div class="opacity"></div>
        <section class="login">
            <div class="container">
                <div class="login__items">
                    <div class="signup__items__title">
                        <h2>Avtoxizmatlar uchun parolni tiklash</h2>
                    </div>
                    <form class="login__items__form" method="post">
                        {% csrf_token %}
                        <p>Oldin ro’yhatdan o’tgan email pochtangizni kiriting biz unga parolni tiklash uchun 
                            havola yuboramiz.</p>
                        <div>
                            <span>Email pochta</span>
                            {{ form.email }}
                            {% if form.email.errors %}
                                <p style="color: red;">{{ form.email.errors }}</p>
                            {% endif %}
                        </div>
                        <button type="submit">Yuborish</button>
                    </form>
                </div>
            </div>
        </section>

        <!-- Scroll Up Start -->
        <div id="scrollUp" class="scrollUp">
            <span>&uarr;</span>
        </div>
        <!-- Scroll Up End -->
    </main>


{% endblock content %}