{% extends "base.html" %} {% load static %} {% block title %}Parolni tiklash{% endblock %} {% block content %}

<main>
  <div class="opacity"></div>
  <section class="login">
    <div class="container">
      <div class="login__items">
        <div class="signup__items__title">
          <h2>Parolni tiklash</h2>
        </div>
        <form class="login__items__form" method="POST">
          {% csrf_token %} {% if form.errors %}
          <p style="color: red">Parollar mos emas yoki kuchsiz.</p>
          {% endif %}

          <div>
            <span>Parol</span>
            <input
              type="password"
              id="password1"
              name="new_password1"
              required
              onkeyup="checkPasswordMatch();"
            />
          </div>

          <div>
            <span>Parol takroran *</span>
            <input
              type="password"
              id="password2"
              name="new_password2"
              required
              onkeyup="checkPasswordMatch();"
            />
            <div id="passwordMatch" style="color: red"></div>
          </div>

          <button type="submit">Saqlash</button>
        </form>
      </div>
    </div>
  </section>

  <!-- Scroll Up Start -->
  <div id="scrollUp" class="scrollUp">
    <span>&uarr;</span>
  </div>
  <!-- Scroll Up End -->
</main>

{% endblock %}
