{% extends 'base.html' %}
{% load static %}

{% block title %}Parolni tiklash muvaffaqiyatli{% endblock %}
{% block content %}

<br/>


<main>
    <div class="opacity"></div>
    <section>
        <div class="container">
            <div class="password-reset-done py-5">
                <h2>Parolni tiklash muvaffaqiyatli amalga oshirildi!</h2>
                <p>Endi yangi parolingiz bilan tizimga kirishingiz mumkin.</p>
                <a href="{% url 'Users:login' %}" class="btn">Tizimga kirish</a>
            </div>
        </div>
    </section>

    <!-- Scroll Up Start -->
    <div id="scrollUp" class="scrollUp">
        <span>&uarr;</span>
    </div>
    <!-- Scroll Up End -->
</main>


{% endblock %}