{% extends 'base.html' %} {% load static %} {% block title %} Profil
sozlamalari{% endblock title %} {% block content %}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css"
/>
<main>
  <div class="opacity"></div>
  <section>
    <div class="container">
      <div class="category__list">
        <div class="category__left">
          <p id="title" class="title">
            Profil
            <i class="fa-solid fa-chevron-down"></i>
          </p>
          <ul id="list">
            <li>
              <a href="#">
                <p>Reklama (TEST)</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Profil foto</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Manzil</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Shirkat haqida</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Mutaxasislik</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Gallereya</p>
              </a>
            </li>
          </ul>
        </div>

        <div class="category__items">
          <h2>Profil sozlamalari</h2>
          <p class="des">Profil e’lonlar oynasida</p>
          <form
            class="settings__form"
            method="post"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <div class="titles__item">
              <h3>Shaxsiy ma’lumotlar</h3>
              <p>
                Xizmat ko’rsatish turini va xizmatlaringiz haqida ma’lumotlarni
                to’ldiring, bu orqali mijozlar sizni tezroq va osonroq topa
                olishadi.
              </p>
            </div>
            <div class="inputs">
              {% comment %} get current image in form {% endcomment %}
              <span>Profil rasmi</span>
              {% if form.img.value %}
              <img
                src="{{ form.img.value.url }}"
                alt="Profil rasmi"
                width="100"
                height="100"
              />
              {% else %}
              <img
                src="{% static 'assets/img/profile.png' %}"
                alt="Profil rasmi"
              />
              {% endif %}
              <span>Profil rasmi</span>
              <label class="file"> {{form.img}} </label>
            </div>
            <div class="inputs">
              <span>Shirkat nomi</span>
              {{ form.company_name }}
            </div>
            <div class="inputs">
              <span>Manzil</span>
              {{ form.address }}
            </div>
            <div class="inputs">
              <span>Mo‘ljal</span>
              {{ form.landmark }}
            </div>
            <div class="inputs">
              <span>Google Lokatsiya URL</span>
              {{ form.location_url }}
            </div>
            <div class="inputs">
              <span>Telefon 1</span>
              {{ form.phone1 }}
            </div>
            <div class="inputs">
              <span>Telefon 2</span>
              {{ form.phone2 }}
            </div>
            <div class="inputs">
              <span>Tashkilot haqida</span>
              {{ form.description }}
            </div>
            <div class="inputs">
              <span>Xizmat turlari</span>
              {{ form.services }}
            </div>

            <div class="inputs">
              <span>Filiallar</span>
              {{ form.branch }}
            </div>

            <div class="dayTime">
              <span>Ish vaqti</span>
              <div>{{ form.open_time }} {{ form.close_time }}</div>
              <p>
                {{ form.is_24_hours }}
                <label for="24">24 soat</label>
              </p>
            </div>
            <ul class="settings__day">
              <span>Ish kunlari</span>
              {% for checkbox in form.work_days %}
              <li>
                {{ checkbox.tag }}
                <label for="{{ checkbox.id_for_label }}"
                  >{{ checkbox.choice_label }}</label
                >
              </li>
              {% endfor %}
            </ul>
            <button type="submit">Saqlash</button>
          </form>
        </div>

        <div class="category__right">
          <ul>
            <div>
              <img src="{% static 'assets/img/category/up.png' %}" alt="" />
              <b>Mijozlar sonini oshiring</b>
              <p>
                Reklama berish orqali xizmatlaringizni mijozlarga birinchilardan
                bo’lib taklif qilishingiz mumkin.
                <span>Hozirda bu servis ishga tushmadi.</span>
              </p>
              <a href="/">Reklama yoqish</a>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Scroll Up Start -->
  <div id="scrollUp" class="scrollUp">
    <span>&uarr;</span>
  </div>
  <!-- Scroll Up End -->
</main>

<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>
<script>
  new MultiSelectTag("types");
  new MultiSelectTag("branch-select");
</script>

{% endblock content %}
