{% autoescape off %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Parolni tiklash</title>
</head>
<body>
    <p>Assalomu alaykum,</p>

    <p>Siz <strong>Avtoxizmatlar</strong> saytida parolni tiklashni so‘radingiz.</p>

    <p>Parolingizni tiklash uchun quyidagi havolani bosing:</p>

    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'Users:password_reset_confirm' uidb64=uid token=token %}">
            Parolni tiklash havolasi
        </a>
    </p>

    <p>Agar siz bu so‘rovni bermagan bo‘lsangiz, iltimos bu xabarni e’tiborsiz qoldiring.</p>

    <br>
    <p>Hurmat bilan,</p>
    <p><strong>Avtoxizmatlar jamoasi</strong></p>
</body>
</html>

{% endautoescape %}
